/*----PORTFOLIO BTNS----*/

/*----Базовий стиль для мобілки до 480-768----*/

.portfolio-options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: start;
  gap: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio-options {
    gap: 0;
    margin-bottom: 25px;
  }

  .btn-portfolio {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.btn-portfolio {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: $color-text-important;
  background-color: $color-button-grey;

  border: 0px;
  border-radius: 4px;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--first {
    padding: 6px 25px;
  }

  &:hover,
  &:focus {
    color: $color-text-white;
    background-color: $color-button-blue;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/*----Стиль для планшета до 768-1200----*/

@media screen and (min-width: 768px) {
  .portfolio-options {
    margin-bottom: 30px;
    justify-content: center;
  }
}

/*----Стиль для компа від 1200----*/

@media screen and (min-width: 1200px) {
  .portfolio-options {
    margin-bottom: 50px;
  }
}
