/*----HERO----*/

/*----Базовий стиль для мобілки до 480-768----*/

.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: $color-background-first;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; //треба?

  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bg-hero-mobile-2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $color-text-white;
}

.btn--hero {
  padding: 10px 24px;
}

/*----Стиль для планшета до 768-1200----*/

@media screen and (min-width: 768px) {
  .hero {
    background-color: $color-background-first;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bg-hero-tablet.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/bg-hero-tablet-2x.jpg");
    }
  }
}

/*----Стиль для компа від 1200----*/

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bg-hero.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/bg-hero-2x.jpg");
    }
  }

  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }

  .btn--hero {
    min-width: 216px; /* ???? Чи треба? */
    padding: 10px 32px;
  }
}
