/*----COMMON SECTIONS HEADER----*/

/*----Базовий стиль для мобілки до 480-768----*/
/*----Стиль для планшета до 768-1200----*/

.section-header {
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;

  color: $color-text-important;

  margin-bottom: 30px;
}

/*----Стиль для компа від 1200----*/

@media screen and (min-width: 1200px) {
  .section-header {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}
