/*----TEAM----*/

.team {
  background: $color-background-second;
}

.team__list {
  display: flex;
  gap: 30px;
}

.person-card {
  padding-bottom: 30px;
  width: 270px;

  background: $color-background-white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person-card__photo {
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
}

.person-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: $color-text-important;
}

.person-card__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.person-card__social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.person-card__social_link {
  @include flex-center();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  color: $color-icon-fill-grey;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-button-blue;
    color: $color-icon-fill-white;
  }
}

.person-card__social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
