/*----BODY FONT AND COLOR----*/

body {
  font-family: $font-main;
  color: $color-text-main;
}

/*----LINK AND LIST NONEDECORATION AND PADDINGS AND MARGINS----*/

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

/*----POSITIONS FOR SECTION AND CONTAINERS----*/

/*----Базовий стиль для мобілки до 480-768----*/
/*----Стиль для планшета до 768-1200----*/

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/*----Стиль для компа від 1200----*/

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*----Базовий стиль для мобілки до 480-768----*/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid tomato;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

/*----Стиль для планшета до 768-1200----*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/*----Стиль для компа від 1200----*/

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
