/*----VARIABLES----*/

/* text color */
$color-text-main: #757575;
$color-text-important: #212121;
$color-text-accent: #2196f3;
$color-text-white: #ffffff;
$color-text-black: #000000;
$color-text-white-transperent: rgba(255, 255, 255, 0.6);

/* background color */
$color-background-first: #2f303a;
$color-background-second: #f5f4fa;
$color-background-white: #ffffff;

/* fill icons */
$color-icon-fill-grey: #afb1b8;
$color-icon-fill-white: #ffffff;
$color-icon-fill-black: #000000;
$color-icon-fill-grey-dark: #212121;
$color-icon-fill-accent: #2196f3;

/* button color */
$color-button-blue: #2196f3;
$color-button-blue-active: #188ce8;
$color-button-grey: #f5f4fa;

/* border color */
$color-border-header: #ececec;
$color-border-portfolio: #eeeeee;
$color-border-accent: #2196f3;
$color-border-grey: #212121;

/*----FONTS----*/

$font-main: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;
